@model Product
@using e_commerce_website.Helpers

@{
	ViewData["Title"] = "Product Details";
	var primaryVariantImage = Model.Variants?.Select(pv => pv.Images.Where(pi => pi.IsPrimary));
	var primaryVariantSize = Model.Variants?.Select(pv => pv.Size).FirstOrDefault();
	var primaryVariantPrice = Model.Variants?.Select(pv => pv.Price).FirstOrDefault();
	var primaryVariantColor = Model.Variants?.Select(pv => pv.Color).FirstOrDefault();
	var primayImageUrl = primaryVariantImage.FirstOrDefault().Select(pi => pi.ImageUrl).FirstOrDefault();


    var avgRating = (Model.Reviews != null && Model.Reviews.Count > 0)
        ? Math.Round(Model.Reviews.Average(r => r.Rating))
        : 5; // Default to 5 if no reviews

}


@section Styles {
    <link rel="stylesheet" href="~/css/product/details.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:FILL@0..1&wght@100..700&opsz@16..48" rel="stylesheet" />

}




<div class="product-details-container">
	<div id="product-details-inner-container" class="product-details-inner-container">
		<div class="product-image">
			<img id="product-img" src="@primayImageUrl" alt="Product Image">
		</div>
		<div class="product-details-outer">
			<div class="product-details-inner">
			<h2 id="product-name">@StringHelper.CapitalizeEachWord(Model.ProductName)</h2>
			<h3 id="product-brand">@StringHelper.CapitalizeEachWord(Model.Brand?.BrandName)</h3>
				<h3 id="product-details">@StringHelper.CapitalizeEachWord(Model.Description)</h3>
			<div id="star-ratings" class="star-ratings">
				
					
						@for (int i = 1; i <= 5; i++)
							{
							var starClass = i <= avgRating ? "filled-star" : "not-filled-star";
							<span class="material-symbols-outlined @starClass">star</span>
							}
					
			</div>
			<p id="product-price" class="product-price">$@primaryVariantPrice</p>
			<p class="tax-info">inclusive of all taxes</p>
			<p class="colors-info">Available Colors</p>
			<div class="product-colors">
				<div class="color-outer">
					<div class="color color-1"></div>
				</div>
				<div class="color-outer">
					<div class="color color-2"></div>
				</div>
				<div class="color-outer">
					<div class="color color-3"></div>
				</div>
			</div>
			<div id="product-btns" class="product-btns">
				<!-- href added dynamically -->
				<a id="cart-btn" class="cart-btn">
					<div id="cart-container" class="cart-container">
						<span id="cart-icon" class="material-symbols-outlined">
							add_shopping_cart
						</span>
						<span id="cart-content">Add to Cart</span>
					</div>
				</a>

				<a id="favorite-btn" class="favourite-btn">
					<div id="favorite-container" class="not-favorite-container">
						<span id="favorite-icon" class="material-symbols-outlined favorite-icon">
							favorite
						</span>
						<span id="favorite-content">Favorite</span>
					</div>
				</a>
			</div>
			</div>
		</div>
	</div>
</div>



@section Scripts{
	@* <script type="module" src="~/js/products/details.js"></script> *@
}